/* 顶部通栏 */
.wjs-header {
  border: 1px solid gray;
}
.wjs-header .row {
  /* 内部的div */
}
.wjs-header .row > div {
  border-right: 1px solid gray;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.wjs-header .row > div a {
  /* 内部的a标签样式 */
  color: gray;
}
.wjs-header .row > div a.btn {
  /* 内部按钮的样式 */
  color: white;
  width: 130px;
  height: 20px;
  line-height: 15.778px;
}
.wjs-header .row > div a.twoLevel {
  /* 二维码 */
  position: relative;
}
.wjs-header .row > div a.twoLevel img {
  display: none;
  position: absolute;
  top: 27px;
  left: -5px;
}
.wjs-header .row > div a.twoLevel:hover {
  /* 二维码显示 */
}
.wjs-header .row > div a.twoLevel:hover img {
  display: block;
}
/* 导航栏 */
.heima-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.heima-default .navbar-brand {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.heima-default .navbar-brand .wjs-font {
  /* 设置字体大小 */
  font-size: 50px;
}
.heima-default .navbar-brand .wjs-font-logo {
  /* 设置logo为红色 */
  color: red;
}
.heima-default .navbar-brand:hover,
.heima-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.heima-default .navbar-text {
  color: #777;
}
.heima-default .navbar-nav > li > a {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.heima-default .navbar-nav > li > a:hover,
.heima-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 4px solid red;
}
.heima-default .navbar-nav > .active > a,
.heima-default .navbar-nav > .active > a:hover,
.heima-default .navbar-nav > .active > a:focus {
  color: #555;
  border-bottom: 4px solid red;
}
.heima-default .navbar-nav > .disabled > a,
.heima-default .navbar-nav > .disabled > a:hover,
.heima-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.heima-default .navbar-toggle {
  border-color: #ddd;
}
.heima-default .navbar-toggle:hover,
.heima-default .navbar-toggle:focus {
  background-color: #ddd;
}
.heima-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.heima-default .navbar-collapse,
.heima-default .navbar-form {
  border-color: #e7e7e7;
}
.heima-default .navbar-nav > .open > a,
.heima-default .navbar-nav > .open > a:hover,
.heima-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .heima-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .heima-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .heima-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .heima-default .navbar-nav .open .dropdown-menu > .active > a,
  .heima-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .heima-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .heima-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .heima-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .heima-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.heima-default .navbar-link {
  color: #777;
}
.heima-default .navbar-link:hover {
  color: #333;
}
.heima-default .btn-link {
  color: #777;
}
.heima-default .btn-link:hover,
.heima-default .btn-link:focus {
  color: #333;
}
.heima-default .btn-link[disabled]:hover,
fieldset[disabled] .heima-default .btn-link:hover,
.heima-default .btn-link[disabled]:focus,
fieldset[disabled] .heima-default .btn-link:focus {
  color: #ccc;
}
/* 轮播图的样式 */
.wjs_banner .banner_img {
  height: 410px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wjs_banner .banner_img_a {
  background-image: url('../img/slide_01_2000x410.jpg');
}
.wjs_banner .banner_img_b {
  background-image: url('../img/slide_02_2000x410.jpg');
}
.wjs_banner .banner_img_min img {
  width: 100%;
}
/* 微金所 服务区域布局 */
.wjs_serve {
  /* 把row 下面的 div 添加padding 让间距增加 */
}
.wjs_serve .row > div {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 80px;
}
.wjs_serve .media {
  color: gray;
}
.wjs_serve .media:hover {
  color: red;
}
.wjs_serve .media-left span {
  font-size: 40px;
}
/* 微金所 预约区域的布局 */
.wjs_book {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 15px 100px 15px 10px;
}
.wjs_book .pull-left a {
  color: red;
  border-bottom: 1px dashed red;
}
.wjs_book .pull-right a {
  color: gray;
}
/* 微金所 优惠券布局 */
.heima-tabs {
  border-bottom: 1px solid #ddd;
}
.heima-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.heima-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: gray;
}
.heima-tabs > li > a:hover {
  background-color: transparent;
  border-bottom: 3px solid red;
}
.heima-tabs > li.active > a,
.heima-tabs > li.active > a:hover,
.heima-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  border-bottom-color: transparent;
  background-color: transparent;
  border-bottom: 3px solid red;
}
.heima-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.heima-tabs.nav-justified > li {
  float: none;
}
.heima-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.heima-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .heima-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .heima-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.heima-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.heima-tabs.nav-justified > .active > a,
.heima-tabs.nav-justified > .active > a:hover,
.heima-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .heima-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .heima-tabs.nav-justified > .active > a,
  .heima-tabs.nav-justified > .active > a:hover,
  .heima-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/* 优惠券布局 */
.ticket {
  display: block;
  height: 150px;
  color: gray;
  /* 设置容器的阴影 */
  box-shadow: 4px 4px 8px gray;
  /* 清除 手指悬停的样式 */
  /* 设置伪元素的 显示大小 */
}
.ticket:hover {
  text-decoration: none;
  color: gray;
}
.ticket::before {
  font-size: 50px;
  position: absolute;
}
.ticket .ticket_left {
  overflow: hidden;
  height: 100%;
  /* 设置p标签的对其方式 */
  /* 设置 公共的a标签的 字体大小 以及字体颜色 */
}
.ticket .ticket_left h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 900;
}
.ticket .ticket_left .content_left {
  text-align: left;
}
.ticket .ticket_left .content_left p {
  padding-left: 10px;
}
.ticket .ticket_left .content_right {
  text-align: right;
}
.ticket .ticket_left .content_right p {
  padding-right: 10px;
}
.ticket .ticket_left p {
  font-size: 12px;
  font-weight: 700;
}
.ticket .ticket_right {
  width: 108px;
  float: right;
  height: 100%;
  padding-top: 20px;
  position: relative;
  /* 设置 左边的 分割线 */
  border-left: 1px dashed gray;
  /* 通过伪元素的方式 设置 上下 两个圆 */
}
.ticket .ticket_right p {
  /* 设置内容的对其方式*/
  text-align: center;
  font-weight: 900;
}
.ticket .ticket_right::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  top: -10px;
  left: -10px;
  /* 设置内部阴影 */
  box-shadow: inset 0px -3px 3px #808080;
}
.ticket .ticket_right::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  bottom: -10px;
  left: -10px;
  /* 设置内部阴影 */
  box-shadow: inset 0px 3px 3px gray;
}
/* 红色的优惠券 */
.ticket.red {
  background-color: red;
  color: white;
}
/* 为优惠券的容器 添加样式 */
.wjs_lowPrice {
  /* 底部的边框 */
  border-bottom: 1px solid gray;
}
.wjs_lowPrice .tab-content .container .row > div {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* 微金所新闻业布局 */
.wjs_news .row > div:first-child h2 {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
  /* 使用为元素制作 小圆球 */
}
.wjs_news .row > div:first-child h2::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid gray;
  bottom: -5px;
  right: -10px;
}
