<html op="newest">

<head>
  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/news.css">
  <link rel="stylesheet" type="text/css" href="static/css/a.css">
  <link rel="shortcut icon" href="favicon.ico">
  <title>New Links | Hacker News</title>
</head>

<body>
  <center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tr>
        <td bgcolor="#ff6600">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
            <tr>
              <td style="width:18px;padding-right:4px">
                <a href="http://www.ycombinator.com"><img src="static/img/y18.gif" width="18" height="18" style="border:1px white solid;"></a>
              </td>
              <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="news">Hacker News</a></b>
              <a href="newswelcome.html">welcome</a> | <span class="topsel"><a href="newest">new</a></span> | <a href="threads?id=itcast">threads</a> | <a href="newcomments">comments</a> | <a href="show">show</a> | <a href="ask">ask</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a> </span>
              </td>
              <td style="text-align:right;padding-right:4px;"><span class="pagetop">
                              <a href="user?id=itcast">itcast</a>
                (1) |
                <a href="logout?auth=796c86587d62d208438a17339ea8d9cbb0420fd1&amp;goto=newest">logout</a>                          </span></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="height:10px"></tr>
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
            <tr class='athing' id='13389275'>
              <td align="right" valign="top" class="title"><span class="rank">1.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <font color="#ff6600">*</font>
                  <br>
              </td>
              <td class="title"><a href="http://www.baidu.com" class="storylink" rel="nofollow">百度一下</a><span class="sitebit comhead"> (<a href="from?site=baidu.com"><span class="sitestr">baidu.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389275">1 point</span> by
                <a href="user?id=itcast" class="hnuser">
                  <font color="#3c963c">itcast</font>
                </a> <span class="age"><a href="item?id=13389275">0 minutes ago</a></span> <span id="unv_13389275"></span> | <a href="hide?id=13389275&amp;goto=newest&amp;auth=a68154d6d52e9a9be4ad157ab8bcee3c03622dc0" onclick="return hidestory(event, this, 13389275)">hide</a> | <a href="https://hn.algolia.com/?query=%E7%99%BE%E5%BA%A6%E4%B8%80%E4%B8%8B&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=%E7%99%BE%E5%BA%A6%E4%B8%80%E4%B8%8B">web</a> | <a href="edit?id=13389275">edit</a> | <a href="delete-confirm?id=13389275&amp;goto=newest">delete</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389272'>
              <td align="right" valign="top" class="title"><span class="rank">2.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <font color="#ff6600">*</font>
                  <br>
              </td>
              <td class="title"><a href="item?id=13389272" class="storylink">学习Node.js</a></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389272">1 point</span> by
                <a href="user?id=itcast" class="hnuser">
                  <font color="#3c963c">itcast</font>
                </a> <span class="age"><a href="item?id=13389272">1 minute ago</a></span> <span id="unv_13389272"></span> | <a href="hide?id=13389272&amp;goto=newest&amp;auth=6837547554301742022d933e2fe7679cecf49a6f" onclick="return hidestory(event, this, 13389272)">hide</a> | <a href="https://hn.algolia.com/?query=%E5%AD%A6%E4%B9%A0Node.js&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=%E5%AD%A6%E4%B9%A0Node.js">web</a> | <a href="edit?id=13389272">edit</a> | <a href="delete-confirm?id=13389272&amp;goto=newest">delete</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389271'>
              <td align="right" valign="top" class="title"><span class="rank">3.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389271' onclick='return vote(event, this, "up")' href='vote?id=13389271&amp;how=up&amp;auth=fefe15f507026024a9c28b494eb6735bd821d439&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://blockchainweekly.net/issues/6#start" class="storylink" rel="nofollow">Blockchain summary from last week</a><span class="sitebit comhead"> (<a href="from?site=blockchainweekly.net"><span class="sitestr">blockchainweekly.net</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389271">2 points</span> by <a href="user?id=michal-d" class="hnuser">michal-d</a> <span class="age"><a href="item?id=13389271">1 minute ago</a></span> <span id="unv_13389271"></span> | <a href="hide?id=13389271&amp;goto=newest&amp;auth=fefe15f507026024a9c28b494eb6735bd821d439" onclick="return hidestory(event, this, 13389271)">hide</a> | <a href="https://hn.algolia.com/?query=Blockchain%20summary%20from%20last%20week&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Blockchain%20summary%20from%20last%20week">web</a> | <a href="item?id=13389271">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389262'>
              <td align="right" valign="top" class="title"><span class="rank">4.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389262' onclick='return vote(event, this, "up")' href='vote?id=13389262&amp;how=up&amp;auth=9e52207aa9612af58303bf566941804644147609&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.metamorphosite.com/one-way-hash-encryption-sha1-data-software" class="storylink" rel="nofollow">Hash Algorithms: A Comprehensive Guide</a><span class="sitebit comhead"> (<a href="from?site=metamorphosite.com"><span class="sitestr">metamorphosite.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389262">1 point</span> by <a href="user?id=jjoachim3" class="hnuser">jjoachim3</a> <span class="age"><a href="item?id=13389262">4 minutes ago</a></span> <span id="unv_13389262"></span> | <a href="hide?id=13389262&amp;goto=newest&amp;auth=9e52207aa9612af58303bf566941804644147609" onclick="return hidestory(event, this, 13389262)">hide</a> | <a href="https://hn.algolia.com/?query=Hash%20Algorithms%3A%20A%20Comprehensive%20Guide&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Hash%20Algorithms%3A%20A%20Comprehensive%20Guide">web</a> | <a href="item?id=13389262">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389252'>
              <td align="right" valign="top" class="title"><span class="rank">5.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389252' onclick='return vote(event, this, "up")' href='vote?id=13389252&amp;how=up&amp;auth=6e251d572ef61452f095ee4f57d7001ba29fa35b&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.nature.com/news/quantum-gas-goes-below-absolute-zero-1.12146" class="storylink" rel="nofollow">Quantum gas goes below absolute zero</a><span class="sitebit comhead"> (<a href="from?site=nature.com"><span class="sitestr">nature.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389252">1 point</span> by <a href="user?id=rosstex" class="hnuser">rosstex</a> <span class="age"><a href="item?id=13389252">5 minutes ago</a></span> <span id="unv_13389252"></span> | <a href="hide?id=13389252&amp;goto=newest&amp;auth=6e251d572ef61452f095ee4f57d7001ba29fa35b" onclick="return hidestory(event, this, 13389252)">hide</a> | <a href="https://hn.algolia.com/?query=Quantum%20gas%20goes%20below%20absolute%20zero&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Quantum%20gas%20goes%20below%20absolute%20zero">web</a> | <a href="item?id=13389252">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389223'>
              <td align="right" valign="top" class="title"><span class="rank">6.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389223' onclick='return vote(event, this, "up")' href='vote?id=13389223&amp;how=up&amp;auth=be89219cf2db88436c1a52a6f847597e2b8b5b43&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://mimimatthews.com/2017/01/12/a-proposed-18th-century-tax-bill-targets-27-year-old-spinsters-and-their-cats/" class="storylink" rel="nofollow">A Proposed 18th Century Tax Bill Targets 27-Year-Old SpinstersAnd Their Cats</a><span class="sitebit comhead"> (<a href="from?site=mimimatthews.com"><span class="sitestr">mimimatthews.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389223">2 points</span> by <a href="user?id=Avawelles" class="hnuser">Avawelles</a> <span class="age"><a href="item?id=13389223">12 minutes ago</a></span> <span id="unv_13389223"></span> | <a href="hide?id=13389223&amp;goto=newest&amp;auth=be89219cf2db88436c1a52a6f847597e2b8b5b43" onclick="return hidestory(event, this, 13389223)">hide</a> | <a href="https://hn.algolia.com/?query=A%20Proposed%2018th%20Century%20Tax%20Bill%20Targets%2027-Year-Old%20SpinstersAnd%20Their%20Cats&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=A%20Proposed%2018th%20Century%20Tax%20Bill%20Targets%2027-Year-Old%20SpinstersAnd%20Their%20Cats">web</a> | <a href="item?id=13389223">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389222'>
              <td align="right" valign="top" class="title"><span class="rank">7.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389222' onclick='return vote(event, this, "up")' href='vote?id=13389222&amp;how=up&amp;auth=a6a02b2271c4cdc3e74505ba81f9bedfe30829d1&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://techcrunch.com/2017/01/11/unable-to-fund-production-of-its-camera-drone-lily-will-shut-down-and-refund-customers/" class="storylink" rel="nofollow">Drone startup, with $34M in pre-orders and $15M in VC, unable to fund production</a><span class="sitebit comhead"> (<a href="from?site=techcrunch.com"><span class="sitestr">techcrunch.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389222">1 point</span> by <a href="user?id=panabee" class="hnuser">panabee</a> <span class="age"><a href="item?id=13389222">12 minutes ago</a></span> <span id="unv_13389222"></span> | <a href="hide?id=13389222&amp;goto=newest&amp;auth=a6a02b2271c4cdc3e74505ba81f9bedfe30829d1" onclick="return hidestory(event, this, 13389222)">hide</a> | <a href="https://hn.algolia.com/?query=Drone%20startup%2C%20with%20%2434M%20in%20pre-orders%20and%20%2415M%20in%20VC%2C%20unable%20to%20fund%20production&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Drone%20startup%2C%20with%20%2434M%20in%20pre-orders%20and%20%2415M%20in%20VC%2C%20unable%20to%20fund%20production">web</a> | <a href="item?id=13389222">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389213'>
              <td align="right" valign="top" class="title"><span class="rank">8.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389213' onclick='return vote(event, this, "up")' href='vote?id=13389213&amp;how=up&amp;auth=7562ba391e2b8c15b7089444b833dc9e44694dec&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://arxiv.org/abs/1701.03441" class="storylink" rel="nofollow">Simplified Gating in Long Short-Term Memory (LSTM) Recurrent Neural   Networks</a><span class="sitebit comhead"> (<a href="from?site=arxiv.org"><span class="sitestr">arxiv.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389213">2 points</span> by <a href="user?id=MichaelBurge" class="hnuser">MichaelBurge</a> <span class="age"><a href="item?id=13389213">15 minutes ago</a></span> <span id="unv_13389213"></span> | <a href="hide?id=13389213&amp;goto=newest&amp;auth=7562ba391e2b8c15b7089444b833dc9e44694dec" onclick="return hidestory(event, this, 13389213)">hide</a> | <a href="https://hn.algolia.com/?query=Simplified%20Gating%20in%20Long%20Short-Term%20Memory%20(LSTM)%20Recurrent%20Neural%20%20%20Networks&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Simplified%20Gating%20in%20Long%20Short-Term%20Memory%20(LSTM)%20Recurrent%20Neural%20%20%20Networks">web</a> | <a href="item?id=13389213">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389206'>
              <td align="right" valign="top" class="title"><span class="rank">9.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389206' onclick='return vote(event, this, "up")' href='vote?id=13389206&amp;how=up&amp;auth=0972798b8a6e09de5ebe0538d86178c7a38ceecf&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://www.nintendo.com/switch/index.html" class="storylink" rel="nofollow">Nintendo Switch</a><span class="sitebit comhead"> (<a href="from?site=nintendo.com"><span class="sitestr">nintendo.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389206">1 point</span> by <a href="user?id=oferzelig" class="hnuser">oferzelig</a> <span class="age"><a href="item?id=13389206">16 minutes ago</a></span> <span id="unv_13389206"></span> | <a href="hide?id=13389206&amp;goto=newest&amp;auth=0972798b8a6e09de5ebe0538d86178c7a38ceecf" onclick="return hidestory(event, this, 13389206)">hide</a> | <a href="https://hn.algolia.com/?query=Nintendo%20Switch&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Nintendo%20Switch">web</a> | <a href="item?id=13389206">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389202'>
              <td align="right" valign="top" class="title"><span class="rank">10.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389202' onclick='return vote(event, this, "up")' href='vote?id=13389202&amp;how=up&amp;auth=7f30a5de76a84afc179094a7aee10071713b0e88&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.bbc.co.uk/news/world-latin-america-38605889" class="storylink" rel="nofollow">El Salvador: No murders reported for 24 hours</a><span class="sitebit comhead"> (<a href="from?site=bbc.co.uk"><span class="sitestr">bbc.co.uk</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389202">1 point</span> by <a href="user?id=roryrjb" class="hnuser">roryrjb</a> <span class="age"><a href="item?id=13389202">16 minutes ago</a></span> <span id="unv_13389202"></span> | <a href="hide?id=13389202&amp;goto=newest&amp;auth=7f30a5de76a84afc179094a7aee10071713b0e88" onclick="return hidestory(event, this, 13389202)">hide</a> | <a href="https://hn.algolia.com/?query=El%20Salvador%3A%20No%20murders%20reported%20for%2024%20hours&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=El%20Salvador%3A%20No%20murders%20reported%20for%2024%20hours">web</a> | <a href="item?id=13389202">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389200'>
              <td align="right" valign="top" class="title"><span class="rank">11.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389200' onclick='return vote(event, this, "up")' href='vote?id=13389200&amp;how=up&amp;auth=0e85a52b4b24082f9d119338537c87313425add8&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://zaitcev.livejournal.com/237171.html" class="storylink" rel="nofollow">Git-codereview</a><span class="sitebit comhead"> (<a href="from?site=zaitcev.livejournal.com"><span class="sitestr">zaitcev.livejournal.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389200">1 point</span> by <a href="user?id=BuuQu9hu" class="hnuser">BuuQu9hu</a> <span class="age"><a href="item?id=13389200">17 minutes ago</a></span> <span id="unv_13389200"></span> | <a href="hide?id=13389200&amp;goto=newest&amp;auth=0e85a52b4b24082f9d119338537c87313425add8" onclick="return hidestory(event, this, 13389200)">hide</a> | <a href="https://hn.algolia.com/?query=Git-codereview&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Git-codereview">web</a> | <a href="item?id=13389200">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389196'>
              <td align="right" valign="top" class="title"><span class="rank">12.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389196' onclick='return vote(event, this, "up")' href='vote?id=13389196&amp;how=up&amp;auth=13d11cfe8526269c39915c4ae371dbcc5a2633dc&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://developer.olery.com/blog/goodbye-mongodb-hello-postgresql/" class="storylink" rel="nofollow">Goodbye MongoDB, Hello PostgreSQL</a><span class="sitebit comhead"> (<a href="from?site=olery.com"><span class="sitestr">olery.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389196">2 points</span> by <a href="user?id=insulanian" class="hnuser">insulanian</a> <span class="age"><a href="item?id=13389196">18 minutes ago</a></span> <span id="unv_13389196"></span> | <a href="hide?id=13389196&amp;goto=newest&amp;auth=13d11cfe8526269c39915c4ae371dbcc5a2633dc" onclick="return hidestory(event, this, 13389196)">hide</a> | <a href="https://hn.algolia.com/?query=Goodbye%20MongoDB%2C%20Hello%20PostgreSQL&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Goodbye%20MongoDB%2C%20Hello%20PostgreSQL">web</a> | <a href="item?id=13389196">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389184'>
              <td align="right" valign="top" class="title"><span class="rank">13.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389184' onclick='return vote(event, this, "up")' href='vote?id=13389184&amp;how=up&amp;auth=99793af9a611fbe3c44c0cea33076d09b9ee272a&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.wsj.com/articles/arizona-plans-to-sue-blood-testing-company-theranos-1484235227" class="storylink" rel="nofollow">Arizona Plans to Sue Blood-Testing Company Theranos</a><span class="sitebit comhead"> (<a href="from?site=wsj.com"><span class="sitestr">wsj.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389184">1 point</span> by <a href="user?id=kqr2" class="hnuser">kqr2</a> <span class="age"><a href="item?id=13389184">22 minutes ago</a></span> <span id="unv_13389184"></span> | <a href="hide?id=13389184&amp;goto=newest&amp;auth=99793af9a611fbe3c44c0cea33076d09b9ee272a" onclick="return hidestory(event, this, 13389184)">hide</a> | <a href="https://hn.algolia.com/?query=Arizona%20Plans%20to%20Sue%20Blood-Testing%20Company%20Theranos&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Arizona%20Plans%20to%20Sue%20Blood-Testing%20Company%20Theranos">web</a> | <a href="item?id=13389184">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389172'>
              <td align="right" valign="top" class="title"><span class="rank">14.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389172' onclick='return vote(event, this, "up")' href='vote?id=13389172&amp;how=up&amp;auth=088404ee93ff682cc33565fbb6d5e1814f06c931&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://play.ht/#/users/750a25af92ad458484a8966c0636b5c2" class="storylink" rel="nofollow">Show HN: Paul Graham's essays as an audio playlist</a><span class="sitebit comhead"> (<a href="from?site=play.ht"><span class="sitestr">play.ht</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389172">1 point</span> by <a href="user?id=hammadh" class="hnuser">hammadh</a> <span class="age"><a href="item?id=13389172">25 minutes ago</a></span> <span id="unv_13389172"></span> | <a href="hide?id=13389172&amp;goto=newest&amp;auth=088404ee93ff682cc33565fbb6d5e1814f06c931" onclick="return hidestory(event, this, 13389172)">hide</a> | <a href="https://hn.algolia.com/?query=Show%20HN%3A%20Paul%20Graham's%20essays%20as%20an%20audio%20playlist&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Show%20HN%3A%20Paul%20Graham's%20essays%20as%20an%20audio%20playlist">web</a> | <a href="item?id=13389172">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389163'>
              <td align="right" valign="top" class="title"><span class="rank">15.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389163' onclick='return vote(event, this, "up")' href='vote?id=13389163&amp;how=up&amp;auth=52b86852abb4e94f7c692895fea9f15efbf74798&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://blogs.spectator.co.uk/2017/01/dominic-cummings-brexit-referendum-won/" class="storylink" rel="nofollow">How the Brexit referendum was won</a><span class="sitebit comhead"> (<a href="from?site=spectator.co.uk"><span class="sitestr">spectator.co.uk</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389163">1 point</span> by <a href="user?id=tvural" class="hnuser">tvural</a> <span class="age"><a href="item?id=13389163">28 minutes ago</a></span> <span id="unv_13389163"></span> | <a href="hide?id=13389163&amp;goto=newest&amp;auth=52b86852abb4e94f7c692895fea9f15efbf74798" onclick="return hidestory(event, this, 13389163)">hide</a> | <a href="https://hn.algolia.com/?query=How%20the%20Brexit%20referendum%20was%20won&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=How%20the%20Brexit%20referendum%20was%20won">web</a> | <a href="item?id=13389163">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389161'>
              <td align="right" valign="top" class="title"><span class="rank">16.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389161' onclick='return vote(event, this, "up")' href='vote?id=13389161&amp;how=up&amp;auth=2eb6425864c110e639f723332f86697f89d7ec2b&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://www.yahoo.com/news/assange-agrees-extradition-us-releases-whistleblower-222625053.html" class="storylink" rel="nofollow">Assange agrees to extradition if US releases whistleblower</a><span class="sitebit comhead"> (<a href="from?site=yahoo.com"><span class="sitestr">yahoo.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389161">1 point</span> by <a href="user?id=aburan28" class="hnuser">aburan28</a> <span class="age"><a href="item?id=13389161">28 minutes ago</a></span> <span id="unv_13389161"></span> | <a href="hide?id=13389161&amp;goto=newest&amp;auth=2eb6425864c110e639f723332f86697f89d7ec2b" onclick="return hidestory(event, this, 13389161)">hide</a> | <a href="https://hn.algolia.com/?query=Assange%20agrees%20to%20extradition%20if%20US%20releases%20whistleblower&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Assange%20agrees%20to%20extradition%20if%20US%20releases%20whistleblower">web</a> | <a href="item?id=13389161">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389158'>
              <td align="right" valign="top" class="title"><span class="rank">17.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389158' onclick='return vote(event, this, "up")' href='vote?id=13389158&amp;how=up&amp;auth=5dc1e2d870d907453da09e4e82e3521a81710fed&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://maex.me/tech/2017/01/13/why-i-like-wc.html" class="storylink" rel="nofollow">Why I like wc</a><span class="sitebit comhead"> (<a href="from?site=maex.me"><span class="sitestr">maex.me</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389158">3 points</span> by <a href="user?id=mstruebing" class="hnuser">mstruebing</a> <span class="age"><a href="item?id=13389158">28 minutes ago</a></span> <span id="unv_13389158"></span> | <a href="hide?id=13389158&amp;goto=newest&amp;auth=5dc1e2d870d907453da09e4e82e3521a81710fed" onclick="return hidestory(event, this, 13389158)">hide</a> | <a href="https://hn.algolia.com/?query=Why%20I%20like%20wc&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Why%20I%20like%20wc">web</a> | <a href="item?id=13389158">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389156'>
              <td align="right" valign="top" class="title"><span class="rank">18.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389156' onclick='return vote(event, this, "up")' href='vote?id=13389156&amp;how=up&amp;auth=08169da357130f6d429ced2149363c62b681c796&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://theintercept.com/leak/" class="storylink" rel="nofollow">Attention Federal Employees: If You See Something, Leak Something</a><span class="sitebit comhead"> (<a href="from?site=theintercept.com"><span class="sitestr">theintercept.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389156">3 points</span> by <a href="user?id=aburan28" class="hnuser">aburan28</a> <span class="age"><a href="item?id=13389156">29 minutes ago</a></span> <span id="unv_13389156"></span> | <a href="hide?id=13389156&amp;goto=newest&amp;auth=08169da357130f6d429ced2149363c62b681c796" onclick="return hidestory(event, this, 13389156)">hide</a> | <a href="https://hn.algolia.com/?query=Attention%20Federal%20Employees%3A%20If%20You%20See%20Something%2C%20Leak%20Something&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Attention%20Federal%20Employees%3A%20If%20You%20See%20Something%2C%20Leak%20Something">web</a> | <a href="item?id=13389156">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389145'>
              <td align="right" valign="top" class="title"><span class="rank">19.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389145' onclick='return vote(event, this, "up")' href='vote?id=13389145&amp;how=up&amp;auth=bc4aa6e67b55503a1050e8d6540a1fb6459db11e&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://nothings.org/computer/iterate.html" class="storylink" rel="nofollow">Iteration Is Hard (1998)</a><span class="sitebit comhead"> (<a href="from?site=nothings.org"><span class="sitestr">nothings.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389145">2 points</span> by <a href="user?id=luu" class="hnuser">luu</a> <span class="age"><a href="item?id=13389145">31 minutes ago</a></span> <span id="unv_13389145"></span> | <a href="hide?id=13389145&amp;goto=newest&amp;auth=bc4aa6e67b55503a1050e8d6540a1fb6459db11e" onclick="return hidestory(event, this, 13389145)">hide</a> | <a href="https://hn.algolia.com/?query=Iteration%20Is%20Hard&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Iteration%20Is%20Hard">web</a> | <a href="item?id=13389145">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389144'>
              <td align="right" valign="top" class="title"><span class="rank">20.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389144' onclick='return vote(event, this, "up")' href='vote?id=13389144&amp;how=up&amp;auth=4dd1de7beb6290198d83a7b95b2487b33b76c6c5&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://spiceprogram.org/blockchain/" class="storylink" rel="nofollow">Blockchain explained in glorious MS Paint style comic</a><span class="sitebit comhead"> (<a href="from?site=spiceprogram.org"><span class="sitestr">spiceprogram.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389144">8 points</span> by <a href="user?id=anttiviljami" class="hnuser">anttiviljami</a> <span class="age"><a href="item?id=13389144">31 minutes ago</a></span> <span id="unv_13389144"></span> | <a href="hide?id=13389144&amp;goto=newest&amp;auth=4dd1de7beb6290198d83a7b95b2487b33b76c6c5" onclick="return hidestory(event, this, 13389144)">hide</a> | <a href="https://hn.algolia.com/?query=Blockchain%20explained%20in%20glorious%20MS%20Paint%20style%20comic&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Blockchain%20explained%20in%20glorious%20MS%20Paint%20style%20comic">web</a> | <a href="item?id=13389144">1&nbsp;comment</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389143'>
              <td align="right" valign="top" class="title"><span class="rank">21.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389143' onclick='return vote(event, this, "up")' href='vote?id=13389143&amp;how=up&amp;auth=a56e44674c4eef8d1abfc6054d15bf4e2517d6de&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://producingoss.com/" class="storylink" rel="nofollow">Producing Open Source Software, 2nd Edition</a><span class="sitebit comhead"> (<a href="from?site=producingoss.com"><span class="sitestr">producingoss.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389143">1 point</span> by <a href="user?id=ingve" class="hnuser">ingve</a> <span class="age"><a href="item?id=13389143">32 minutes ago</a></span> <span id="unv_13389143"></span> | <a href="hide?id=13389143&amp;goto=newest&amp;auth=a56e44674c4eef8d1abfc6054d15bf4e2517d6de" onclick="return hidestory(event, this, 13389143)">hide</a> | <a href="https://hn.algolia.com/?query=Producing%20Open%20Source%20Software%2C%202nd%20Edition&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Producing%20Open%20Source%20Software%2C%202nd%20Edition">web</a> | <a href="item?id=13389143">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389139'>
              <td align="right" valign="top" class="title"><span class="rank">22.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389139' onclick='return vote(event, this, "up")' href='vote?id=13389139&amp;how=up&amp;auth=f38a4c70abff6fccc261a75507968487748dd33e&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://firstround.com/review/the-adjective-number-things-you-need-to-know-about-clickbait/?ct=t()" class="storylink" rel="nofollow">[On-Point] the [Adjective] [Number] Things You Need to Know About Clickbait</a><span class="sitebit comhead"> (<a href="from?site=firstround.com"><span class="sitestr">firstround.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389139">1 point</span> by <a href="user?id=hollaur" class="hnuser">hollaur</a> <span class="age"><a href="item?id=13389139">34 minutes ago</a></span> <span id="unv_13389139"></span> | <a href="hide?id=13389139&amp;goto=newest&amp;auth=f38a4c70abff6fccc261a75507968487748dd33e" onclick="return hidestory(event, this, 13389139)">hide</a> | <a href="https://hn.algolia.com/?query=%5BOn-Point%5D%20the%20%5BAdjective%5D%20%5BNumber%5D%20Things%20You%20Need%20to%20Know%20About%20Clickbait&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=%5BOn-Point%5D%20the%20%5BAdjective%5D%20%5BNumber%5D%20Things%20You%20Need%20to%20Know%20About%20Clickbait">web</a> | <a href="item?id=13389139">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389137'>
              <td align="right" valign="top" class="title"><span class="rank">23.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389137' onclick='return vote(event, this, "up")' href='vote?id=13389137&amp;how=up&amp;auth=acf1ba7fbf80e8d3ccc4dfdfcf87276bef54e332&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://foreignpolicy.com/2017/01/12/nato-russia-missile-defense-stand-off-deterrence-anti-access-area-denial/" class="storylink" rel="nofollow">Interactive Map Shows the High Stakes Missile Stand-Off Between NATO and Russia</a><span class="sitebit comhead"> (<a href="from?site=foreignpolicy.com"><span class="sitestr">foreignpolicy.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389137">1 point</span> by <a href="user?id=aburan28" class="hnuser">aburan28</a> <span class="age"><a href="item?id=13389137">35 minutes ago</a></span> <span id="unv_13389137"></span> | <a href="hide?id=13389137&amp;goto=newest&amp;auth=acf1ba7fbf80e8d3ccc4dfdfcf87276bef54e332" onclick="return hidestory(event, this, 13389137)">hide</a> | <a href="https://hn.algolia.com/?query=Interactive%20Map%20Shows%20the%20High%20Stakes%20Missile%20Stand-Off%20Between%20NATO%20and%20Russia&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Interactive%20Map%20Shows%20the%20High%20Stakes%20Missile%20Stand-Off%20Between%20NATO%20and%20Russia">web</a> | <a href="item?id=13389137">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389119'>
              <td align="right" valign="top" class="title"><span class="rank">24.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389119' onclick='return vote(event, this, "up")' href='vote?id=13389119&amp;how=up&amp;auth=de365ad787ec651ef732c9ecf320ec16785c51ca&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://www.siliconrepublic.com/machines/eu-backs-robot-civil-law-report-electronic-persons-kill-switches" class="storylink" rel="nofollow">EU backs report calling for robot civil law, but also kill switches</a><span class="sitebit comhead"> (<a href="from?site=siliconrepublic.com"><span class="sitestr">siliconrepublic.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389119">1 point</span> by <a href="user?id=daviddumon" class="hnuser">daviddumon</a> <span class="age"><a href="item?id=13389119">42 minutes ago</a></span> <span id="unv_13389119"></span> | <a href="hide?id=13389119&amp;goto=newest&amp;auth=de365ad787ec651ef732c9ecf320ec16785c51ca" onclick="return hidestory(event, this, 13389119)">hide</a> | <a href="https://hn.algolia.com/?query=EU%20backs%20report%20calling%20for%20robot%20civil%20law%2C%20but%20also%20kill%20switches&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=EU%20backs%20report%20calling%20for%20robot%20civil%20law%2C%20but%20also%20kill%20switches">web</a> | <a href="item?id=13389119">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389116'>
              <td align="right" valign="top" class="title"><span class="rank">25.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389116' onclick='return vote(event, this, "up")' href='vote?id=13389116&amp;how=up&amp;auth=dc74052773ba99c6ff76c449fc6c36540a80addf&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://mailchimp.com/2016/?utm_source=MailChimp+System+Alerts&amp;utm_campaign=5babdcbb2f-2016_Annual_Report&amp;utm_medium=email&amp;utm_term=0_21eda42079-5babdcbb2f-187215689" class="storylink" rel="nofollow">Mailchimp 2016 Annual Report</a><span class="sitebit comhead"> (<a href="from?site=mailchimp.com"><span class="sitestr">mailchimp.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389116">1 point</span> by <a href="user?id=geospeck" class="hnuser">geospeck</a> <span class="age"><a href="item?id=13389116">43 minutes ago</a></span> <span id="unv_13389116"></span> | <a href="hide?id=13389116&amp;goto=newest&amp;auth=dc74052773ba99c6ff76c449fc6c36540a80addf" onclick="return hidestory(event, this, 13389116)">hide</a> | <a href="https://hn.algolia.com/?query=Mailchimp%202016%20Annual%20Report&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Mailchimp%202016%20Annual%20Report">web</a> | <a href="item?id=13389116">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389100'>
              <td align="right" valign="top" class="title"><span class="rank">26.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389100' onclick='return vote(event, this, "up")' href='vote?id=13389100&amp;how=up&amp;auth=5d63664c6c446498be051ab656ab0535b531d8e4&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://www.bbc.com/news/world-asia-india-38606101" class="storylink" rel="nofollow">Amazon sorry over India flag doormat fiasco</a><span class="sitebit comhead"> (<a href="from?site=bbc.com"><span class="sitestr">bbc.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389100">1 point</span> by <a href="user?id=happy-go-lucky" class="hnuser">happy-go-lucky</a> <span class="age"><a href="item?id=13389100">49 minutes ago</a></span> <span id="unv_13389100"></span> | <a href="hide?id=13389100&amp;goto=newest&amp;auth=5d63664c6c446498be051ab656ab0535b531d8e4" onclick="return hidestory(event, this, 13389100)">hide</a> | <a href="https://hn.algolia.com/?query=Amazon%20sorry%20over%20India%20flag%20doormat%20fiasco&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Amazon%20sorry%20over%20India%20flag%20doormat%20fiasco">web</a> | <a href="item?id=13389100">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389088'>
              <td align="right" valign="top" class="title"><span class="rank">27.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389088' onclick='return vote(event, this, "up")' href='vote?id=13389088&amp;how=up&amp;auth=c7550f465025e1272df004fe7d981ba2fa267a5f&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://riscv.org/2017/01/risc-v-chosen-best-technology-2016/" class="storylink" rel="nofollow">RISC-V chosen as Best Technology of 2016</a><span class="sitebit comhead"> (<a href="from?site=riscv.org"><span class="sitestr">riscv.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389088">1 point</span> by <a href="user?id=BuuQu9hu" class="hnuser">BuuQu9hu</a> <span class="age"><a href="item?id=13389088">52 minutes ago</a></span> <span id="unv_13389088"></span> | <a href="hide?id=13389088&amp;goto=newest&amp;auth=c7550f465025e1272df004fe7d981ba2fa267a5f" onclick="return hidestory(event, this, 13389088)">hide</a> | <a href="https://hn.algolia.com/?query=RISC-V%20chosen%20as%20Best%20Technology%20of%202016&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=RISC-V%20chosen%20as%20Best%20Technology%20of%202016">web</a> | <a href="item?id=13389088">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389084'>
              <td align="right" valign="top" class="title"><span class="rank">28.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389084' onclick='return vote(event, this, "up")' href='vote?id=13389084&amp;how=up&amp;auth=c597e81fc46b4c919873e38a833ffd13928895ec&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://forum.blockstack.org/t/blockstack-onename-and-future-applications/529?u=larry" class="storylink" rel="nofollow">Blockstack, Onename, and future applications</a><span class="sitebit comhead"> (<a href="from?site=blockstack.org"><span class="sitestr">blockstack.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389084">2 points</span> by <a href="user?id=larrysalibra" class="hnuser">larrysalibra</a> <span class="age"><a href="item?id=13389084">54 minutes ago</a></span> <span id="unv_13389084"></span> | <a href="hide?id=13389084&amp;goto=newest&amp;auth=c597e81fc46b4c919873e38a833ffd13928895ec" onclick="return hidestory(event, this, 13389084)">hide</a> | <a href="https://hn.algolia.com/?query=Blockstack%2C%20Onename%2C%20and%20future%20applications&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Blockstack%2C%20Onename%2C%20and%20future%20applications">web</a> | <a href="item?id=13389084">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389076'>
              <td align="right" valign="top" class="title"><span class="rank">29.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389076' onclick='return vote(event, this, "up")' href='vote?id=13389076&amp;how=up&amp;auth=b5c0382261599a758062e9fe0456e4f3389bc101&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="http://blog.wellcomelibrary.org/2017/01/the-stuff-that-almost-brings-people-back-from-the-dead/" class="storylink" rel="nofollow">The ‘stuff that almost brings people back from the dead’</a><span class="sitebit comhead"> (<a href="from?site=wellcomelibrary.org"><span class="sitestr">wellcomelibrary.org</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389076">1 point</span> by <a href="user?id=Petiver" class="hnuser">Petiver</a> <span class="age"><a href="item?id=13389076">56 minutes ago</a></span> <span id="unv_13389076"></span> | <a href="hide?id=13389076&amp;goto=newest&amp;auth=b5c0382261599a758062e9fe0456e4f3389bc101" onclick="return hidestory(event, this, 13389076)">hide</a> | <a href="https://hn.algolia.com/?query=The%20%E2%80%98stuff%20that%20almost%20brings%20people%20back%20from%20the%20dead%E2%80%99&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=The%20%E2%80%98stuff%20that%20almost%20brings%20people%20back%20from%20the%20dead%E2%80%99">web</a> | <a href="item?id=13389076">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='13389073'>
              <td align="right" valign="top" class="title"><span class="rank">30.</span></td>
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_13389073' onclick='return vote(event, this, "up")' href='vote?id=13389073&amp;how=up&amp;auth=94d02b610b9301e4f6f73607dcc879f5250070f6&amp;goto=newest'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://www.reddit.com/r/SeattleWA/comments/5mmes6/hi_seattle_im_ryan_im_running_for_city_council" class="storylink" rel="nofollow">Seattle council candidate will let constituents vote on issues via app</a><span class="sitebit comhead"> (<a href="from?site=reddit.com"><span class="sitestr">reddit.com</span></a>)</span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_13389073">1 point</span> by <a href="user?id=grogenaut" class="hnuser">grogenaut</a> <span class="age"><a href="item?id=13389073">56 minutes ago</a></span> <span id="unv_13389073"></span> | <a href="hide?id=13389073&amp;goto=newest&amp;auth=94d02b610b9301e4f6f73607dcc879f5250070f6" onclick="return hidestory(event, this, 13389073)">hide</a> | <a href="https://hn.algolia.com/?query=Seattle%20council%20candidate%20will%20let%20constituents%20vote%20on%20issues%20via%20app&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Seattle%20council%20candidate%20will%20let%20constituents%20vote%20on%20issues%20via%20app">web</a> | <a href="item?id=13389073">discuss</a> </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class="morespace" style="height:10px"></tr>
            <tr>
              <td colspan="2"></td>
              <td class="title"><a href="newest?next=13389066&amp;n=31" class="morelink" rel="nofollow">More</a></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" cellspacing="0" cellpadding="1">
            <tr>
              <td bgcolor="#ff6600"></td>
            </tr>
          </table>
          <br>
          <center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="mailto:hn@ycombinator.com">Support</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="lists">Lists</a>
        | <a href="bookmarklet.html">Bookmarklet</a>
        | <a href="dmca.html">DMCA</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span>
            <br>
            <br>
            <form method="get" action="//hn.algolia.com/">Search:
              <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">
            </form>
          </center>
        </td>
      </tr>
    </table>
    </center>
</body>

</html>
